.text-area {
  padding: 25px 0;
  margin-left: 2rem;
}
h3 {
  font-size: 1.19em;
}
h2 {
  font-size: 2em;
}
p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
